# Dataset
backend/data/raw/
backend/data/processed/
backend/data/features/

# Model outputs
backend/checkpoints/
backend/outputs/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env
